.header {
    text-align: center;
    margin-bottom: 50px;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.camera-list {
    flex: 1;
}

.live-stream {
    flex: 2;
    margin-left: 20px;
}

.app-container{
    background-color: #fff;
    width: 100%;
    max-width: 1400px;
    height: 80vh;
    overflow-y: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 30px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.user-info{
    position: absolute;
    top: 28px;
    right: 20px;
    cursor: pointer;
    transition: .1s;
    z-index: 2;
}

.user-info:hover{
    transform: scale(1.02);
}

.user-info i{
    background-color: #00087c;
    color: #fff;
    font-size: 20px;
    border: 1px solid #010046;
    border-radius: 50%;
    padding: 10px;
}

.user-dropdown {
    position: absolute;
    top: 42px;
    right: 35px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px 20px;
    border-radius: 20px;
    z-index: 1;
}

.user-dropdown p{
    margin: 10px 0;
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
    border-radius: 10px;
}