.camera-list-container {
    border: 1px solid #ddd;
    padding: 40px 32px;
    border-radius: 10px;
    background-color: #fdfdfd;
}

.camera-item {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #ccc;
    border-top: 1px solid #ccc;
    border-radius: 20px;
    padding: 25px 15px;
    margin: 15px 0;
}


.camera-list-container-p{
    margin-bottom: 15px;
}

.camera-image {
    width: 150px;
    height: auto;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.camera-info {
    flex-grow: 1;
}

.view-button {
    background-color: #00087c;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
    margin-top: 8px;
    transition: .1s;
}

.view-button:hover {
    background-color: #000764;
    transform: scale(1.02);
}

.loading, .error {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
